@import url('https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tulpen+One&display=swap');
@import 'tailwindcss';






.gabarito-uniquifier {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}



.honk-uniquifier {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.tulpen-one-regular {
  font-family: "Tulpen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.tomorrow-regular {
  font-family: "Tomorrow", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.tomorrow-medium {
  font-family: "Tomorrow", sans-serif;
  font-weight: 500;
  font-style: normal;
}






   
   

